@import "~bootstrap/scss/bootstrap";

img {
  object-fit: cover;
}


nav {
  display: flex;
  justify-content: space-between;
  background-color: red;
  // position: relative;
  // z-index: 1;
}

.homepage {
  max-height: 91vh;
  object-fit: cover;
}

// .z-1 {
//   z-index: 1;
// }

li {
  list-style: none;
}

.nav-item {
  display: flex;
  margin-right: 3rem;
}

.nav-items {
  padding-left: 10px;
  font-weight: bold;
  padding-top: 15px;
}

.nav-name{
  margin-left: 3rem; 
}

.font-weight{
  font-weight: bolder;
  font-size: 20px;
  color: black;
}

// .bg-image{
//   position: relative !important;
// }